<!-- Step 1: Create Banner
Step 2: Create toolbar
Step 3: Create left aligned button for event calendar
Step 4: Create right aligned button for email subscription
Step 5: Create Body with facebook feed -->
<!-- <img [src] = "bannerRoute" class="banner-image">
<div layout="row" layout-padding class="toolbar" layout-align="space-between center">
    <button mat-button color="primary"><mat-icon>mail</mat-icon><span>Subscribe</span></button>
    <button mat-button color="primary"><mat-icon>calendar_month</mat-icon><span>Events</span></button>
</div> -->
<!--Add FB integration-->
<!-- <div class="fb-page" data-href="https://www.facebook.com/people/The-Actors-Workshop-of-West-Michigan/100088180773663/?_rdr" data-tabs="timeline" data-width="180" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"></div> -->

Home Page